/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/Makefile
/Makefile.in
/TAGS
/_libs
/aclocal.m4
/autom4te.cache
/autoscan.log
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/configure.scan
/depcomp
/docs/Makefile.in
/docs/reference/Makefile.in
/gnome-doc-utils.make
/gtk-doc.make
/gucharmap-2.pc
/gucharmap.desktop
/gucharmap.desktop.in
/gucharmap.nsi
/gucharmap.schemas
/gucharmap.spec
/gucharmap/Makefile.in
/help/Makefile.in
/help/it/Makefile.in
/help/ja/Makefile.in
/help/zh_HK/Makefile.in
/help/zh_TW/Makefile.in
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libtool
/ltmain.sh
/m4
/missing
/mkinstalldirs
/omf.make
/pixmaps/Makefile.in
/po/*.gmo
/po/*.mo
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/POTFILES
/po/stamp-it
/so_locations
/stamp-h1
/tags
/xmldocs.make
