/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/gucharmap
/gucharmap-marshal.c
/gucharmap-marshal.h
/gucharmap-type-builtins.c
/gucharmap-type-builtins.h
/gucharmap.h
/libgucharmap.la
/so_locations
/stamp-gucharmap-type-builtins.h
/tags
