/C/gucharmap.xml
/C/legal.xml
/bg/bg.po
/bg/gucharmap.xml
/ca/ca.po
/ca/gucharmap.xml
/cs/cs.po
/cs/gucharmap.xml
/de/de.po
/de/gucharmap.xml
/el/el.po
/el/gucharmap.xml
/en_GB/en_GB.po
/en_GB/gucharmap.xml
/es/es.po
/es/gucharmap.xml
/fi/fi.po
/fi/gucharmap.xml
/fr/fr.po
/fr/gucharmap.xml
/gucharmap-C.omf
/gucharmap-bg.omf
/gucharmap-ca.omf
/gucharmap-cs.omf
/gucharmap-de.omf
/gucharmap-el.omf
/gucharmap-en_GB.omf
/gucharmap-es.omf
/gucharmap-fi.omf
/gucharmap-fr.omf
/gucharmap-ko.omf
/gucharmap-oc.omf
/gucharmap-pt_BR.omf
/gucharmap-ru.omf
/gucharmap-sl.omf
/gucharmap-sv.omf
/gucharmap-vi.omf
/gucharmap-zh_CN.omf
/ko/gucharmap.xml
/ko/ko.po
/oc/gucharmap.xml
/oc/oc.po
/pt_BR/gucharmap.xml
/pt_BR/pt_BR.po
/ru/gucharmap.xml
/ru/ru.po
/sl/gucharmap.xml
/sl/sl.po
/sv/gucharmap.xml
/sv/sv.po
/vi/gucharmap.xml
/vi/vi.po
/zh_CN/gucharmap.xml
/zh_CN/zh_CN.po
