/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/gucharmap-decl-list.txt
/gucharmap-decl.txt
/gucharmap-undeclared.txt
/gucharmap-undocumented.txt
/gucharmap-unused.txt
/gucharmap.args
/gucharmap.hierarchy
/gucharmap.interfaces
/gucharmap.prerequisites
/gucharmap.signals
/html
/html-build.stamp
/html.stamp
/pdf-build.stamp
/pdf.stamp
/scan-build.stamp
/setup-build.stamp
/sgml-build.stamp
/sgml.stamp
/so_locations
/tags
/tmpl-build.stamp
/tmpl.stamp
/tmpl/*.bak
/tmpl/gucharmap-unused.sgml
/xml
